BasedOnStyle: GNU
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 150

BreakBeforeBraces: Custom
BraceWrapping: { AfterClass: true, AfterControlStatement: true, AfterEnum: true, AfterFunction: true, AfterNamespace: true, AfterStruct: true, AfterUnion: true, BeforeCatch: true, BeforeElse: true, AfterExternBlock: true, IndentBraces: false, SplitEmptyNamespace: true }

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: All
PointerAlignment: Left

AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: false
PenaltyReturnTypeOnItsOwnLine: 100000
SpaceBeforeParens: Never

IndentCaseLabels: true
IndentCaseBlocks: false
